<!doctype html>
<html lang="en" ng-app="poe_calendar">
<head>
 <meta charset="UTF-8">
 <title>calendar</title>
 <script src="list.js"></script>
 <script src="underscore-min.js"></script>
 <script src="http://code.angularjs.org/snapshot/angular.min.js"></script>
 <script src="calend.js"></script>
</head>
<body ng-controller="poeController">
<span  ng-repeat="type in types()">

 <input type="checkbox" name="selectedTypes[]" ng-checked="selection.indexOf(type) > -1" ng-click="toggleSelection(type)"">{{type}}
</span>

<table>
<tr>
<td>Date</td><td>Type</td><td>Name</td><td>Url</td>
</tr>
<tr ng-repeat='item in list | orderBy : "date" | filter : filterFunction(fltr)' class="{{item.type}}">
<td>{{item.date}}</td><td>{{item.type}}</td><td>{{item.name}}</td><td><a ng-show="item.url" href="{{item.url}}">forum link</a></td>
</tr>

</table>
</body>
</html>